<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{{ title }}</title>
        <link rel ="stylesheet" href={% static "css/mystyle.css" %}/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    </head>
    
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
         
          <a class="navbar-brand" href="#" style=""><b>FIRST DJANGO</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="myhover"><a class="nav navbar-brand" href="{% url 'index' %}">BRAND</a></li>
            <li><a  class="nav navbar-brand" href="{% url 'firstapp:register' %}">Register</a></li>
            <li><a  class="nav navbar-brand" href="{% url 'admin:index' %}">Admin</a></li>
            <li><a  class="nav navbar-brand" href="{% url 'firstapp:relname' %}">Other</a></li> 
            {% if user.is_authenticated %}
              <li><a  class="nav navbar-brand" href="{% url 'logout' %}">Logout</a></li> 
            {% else %}
              <li><a  class="nav navbar-brand" href="{% url 'firstapp:login' %}">Login</a></li> 
            {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br><br><br>
            <div class="container">
                {% block  body_block%}
                {% comment %} anything outside this will be inherited {% endcomment %}
                
                {% endblock  %}
            </div>
        
    </body>
</html>
{% comment %} b4 {% endcomment %}