{% extends 'first_app/base.html' %}

    {% block body_block %}
    {% load staticfiles %}
    <link rel ="stylesheet" href={% static "css/mystyle.css" %}/>
    <div class="jumbotron">
         <h3>
        <b>Hi Welcome to django level two</b></h3><br>
        <img src = "{% static "images/myth3.jpeg" %}" alt = "Uhh Didnot show!"><br>
    <h2>Here are your access records</h2>
    samples below<br>
    {{ number }}

        <div class="djantwo">
            {% if access_records %}
                <table>
                    <thead>
                        <th>Site name</th>
                        <th>Date Accessed</th>
                    <thead>
                    {% for acc in access_records %}
                    <tr>
                        <td>{{ acc.name }}</td>
                        <td>{{ acc.date }}</td>
                    </tr>
                    {% endfor %} 
                </table>
            {% else %}
                <p>No Access Records Found!</p>
            {% endif %}
                
        </div>
    </div>
    {{ insert_me }}

    {% endblock %}
