{% extends 'first_app/base.html' %}
<br><br>
    {% block body_block %}
    {% load staticfiles %}

    <div class="jumbotron">
        {% if registered %}
        <br>
            <h1>Thank you for Registering!</h1>
            {% else %}
            <h1>Register Here</h1>
            <h3>Fill out the form</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

            <input name="" id="" class="btn btn-primary" type="submit" value="REGISTER">
            </form>
        {% endif %}
    </div>

    {% endblock %}