{% extends 'first_app/base.html' %}

    {% block body_block %}
    <br><br>
        <h2>Here i am using relative urls for Django</h2>
        
          {{ rella }}
          <a href="{% url 'admin:index' %}">ADMIN</a> <!--this is for the admin-->
          <a href="{% url 'firstapp:Myform' %}">Formpage</a>
          <a href="{% url 'index' %}">Index Page</a><!--and this is for the index page staright up-->
          {% comment %} Remember no spaces before or after firstapp:Myform take note when using relative urls {% endcomment %}
    {% endblock %}